
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


table,td,tr,th{

  border: 1px solid black;
  border-collapse: collapse;
}

thead,th{
  background-color:gray;
}

.fileUpload{
  margin-left: 750px;
  width: 500px;
  border: 1px dashed #BBBB;
  height: 150px;
  padding: 50px;
  margin-top: 270px;
}

.fileUpload input[type=file]{
  display:none;
}
.btna{
  margin-left: 0; 
  background-color:#e3e3e3;
  color:#333;
  border:1px solid #e6e6e6;
  border-radius:3px;
  padding:6px 12px;
  font-size:16px;
}